.card {
  background-color: white;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.card__body {
  padding: 1rem;
}

.card__body__header h3 {
  margin: 0;
}

.card__body__header,
.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.25em 0 0.5em;
}

.links {
  gap: 10px;
  font-size: 1.25rem;
}
