:root {
  --indigo-dye: #133c55ff;
  --bice-blue: #386fa4ff;
  --picton-blue: #59a5d8ff;
  --pale-azure: #84d2f6ff;
  --background-light: #f5f3f5ff;
  --background-dark: #0f172a;
  --text-dark-primary: #f8fafc;
  --text-dark-secondary: #cbd5e1;
  --text-primary: #1f2937;
  --text-secondary: #4b5563;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
}

body {
  margin: 0;
  line-height: 1;
  background-color: var(--background-light);
  color: var(--text-secondary);
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%;
}

section,
footer {
  padding: 3em 0;
}

h1,
h2,
h3 {
  margin-top: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1500px;
  width: 90%;
  margin: 0 auto;
}

.title {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 900;
  color: var(--text-primary);
}

.title.name {
  font-size: 3.5rem;
}

h2.title {
  text-align: center;
  font-size: 2.25rem;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}

.contact-me,
.contact-me .title {
  background-color: var(--bice-blue);
  color: var(--text-dark-primary);
}

.social-links {
  display: flex;
  gap: 30px;
  justify-content: center;
  font-size: 2rem;
}

footer,
.profile,
.about-me {
  position: relative;
}

footer img {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

.profile {
  display: flex;
  justify-content: center;
}

.profile img {
  width: 100%;
  max-width: 300px;
}

.profile .name {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 0;
  color: var(--text-dark-primary);
}

.about-me::after {
  content: '';
  background-color: var(--picton-blue);
  position: absolute;
  top: -20%;
  left: 0;
  width: 100%;
  height: 60%;
  z-index: -1;
  transform: skewY(-30deg);
  padding-top: 2em;
}
