:root {
  --indigo-dye: #133c55ff;
  --bice-blue: #386fa4ff;
  --picton-blue: #59a5d8ff;
  --pale-azure: #84d2f6ff;
  --background-light: #f5f3f5ff;
  --background-dark: #0f172a;
  --text-dark-primary: #f8fafc;
  --text-dark-secondary: #cbd5e1;
  --text-primary: #1f2937;
  --text-secondary: #4b5563;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body,
div,
article,
aside,
section,
nav,
header,
footer {
  width: 100%;
}
body {
  line-height: 1;
  min-height: 100vh;
  background-color: var(--background-light);
  color: var(--text-primary);
  font-family: 'Roboto', sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1.title,
h2.title {
  font-family: 'Montserrat', sans-serif;
}

h1.title {
  font-size: 1.5rem;
}

.container {
  display: grid;
  grid-template: 1fr 2fr 1fr / 1fr;
  min-height: inherit;
}

.card {
  background-color: white;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.card-body {
  padding: 1rem;
}

.card-body p {
  color: var(--text-secondary);
}

a {
  color: inherit;
}

.about-me,
.my-work,
.contact-me {
  padding: 4rem;
}

.my-work {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.my-work > div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}

.contact-me {
  background-color: var(--bice-blue);
  color: var(--text-dark-primary);
}

/* Media Queries */
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--background-dark);
    color: var(--text-dark-primary);
  }
  .contact-me {
    background-color: var(--indigo-dye);
  }
  .card {
    background-color: #1e293b;
  }
  .card-body p {
    color: var(--text-dark-secondary);
  }
  a {
    color: var(--picton-blue);
  }
}
@media (min-width: 1500px) {
  .about-me,
  .my-work,
  .contact-me > div {
    max-width: 1000px;
    margin: auto;
  }
}

@media (max-width: 900px) {
  .about-me,
  .my-work,
  .contact-me {
    padding: 1.5rem;
  }
  .card-body {
    padding: 4px;
  }
  h1.title {
    text-align: center;
  }
}
